{{!--
  # Subscribe form with a name and a button #

  ## This partial is called on the following theme files:
  1. partials/subscribe-box.hbs
  1. partials/home/subscribe-form.hbs
--}}

<form data-members-form='signup' class='c-subscribe-form is-membership {{ formClass }}'>
  <div class='c-form-group'>
    <label for='{{ emailLabel }}' class='u-hidden-visually'>{{t 'Your email address' }}</label>
    <input type='email' name='email' class='c-form-group__input' id='{{ emailLabel }}' placeholder='{{t 'Your email address' }}' required data-members-email>
    <button type='submit' value='{{t 'Subscribe' }}' class='c-btn c-form-group__btn'>{{t 'Subscribe' }}</button>
  </div>

  <div class='c-newsletter-options'>
    <p class='u-mb-8'>{{t 'Choose your newsletters:' }}</p>
    <div class='c-checkbox-group'>
      <label class='c-checkbox-label'>
        <input type='checkbox' data-members-newsletter='6270f8d75e2d3a0031603372' class='c-checkbox' checked>
        <span class='c-checkbox-text'>Draft Mode</span>
      </label>
      <label class='c-checkbox-label'>
        <input type='checkbox' data-members-newsletter='67b8dc0a0db361000135048f' class='c-checkbox' checked>
        <span class='c-checkbox-text'>Beating</span>
      </label>
    </div>
  </div>

  <p class='u-mb-16 unsub'>{{t 'No spam. Unsubscribe any time.' }}</p>

  <div class='c-alert c-alert--success'>{{t 'Please check your inbox and click the link to confirm your subscription.' }}</div>
  <div class='c-alert c-alert--invalid'>{{t 'Please enter a valid email address!' }}</div>
  <div class='c-alert c-alert--error'>{{t 'An error occurred, please try again later.' }}</div>
</form>